{{#errors}}
<div class="alert alert-info" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">{{title}}:</span>
    {{name}}
</div>
{{/errors}}