{{#errors}}
<div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Ошибка:</span>
    {{name}}
</div>
{{/errors}}